{% extends 'base.html' %}
{% block title %}Report Issue{% endblock %}

{% block content %}
<div class="bg-white p-5 rounded-lg shadow max-w-xl mx-auto">

    <h1 class="text-xl font-bold mb-4">Report New Issue</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label class="font-semibold">Issue Name</label>
        {{ form.issue_name }}

        <label class="font-semibold mt-3">Description</label>
        {{ form.description }}

        <label class="font-semibold mt-3">Severity</label>
        {{ form.severity }}

        <h3 class="mt-5 font-bold">Responsibility</h3>

        <label class="font-semibold">Line Leader</label>
        {{ form.line_leader }}

        <label class="mt-3 font-semibold">Operator ID (optional)</label>
        {{ form.operator_id }}

        <label class="mt-4 font-semibold">Upload Images</label>
        {{ img_form.images }}

        <button class="btn btn-primary mt-5 w-full">Submit Issue</button>
    </form>
</div>
{% endblock %}
